{% load staticfiles %}<!DOCTYPE html>
<html lang="en-gb">
  <head>
    <title>Paperless</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'contrib/bootstrap/bootstrap-min.css' %}">
    <link rel="stylesheet" href="{% static 'contrib/font-awesome/css/font-awesome.min.css' %}">
  </head>
  <body>

    <div class="container-fluid">
      {% block container %}{% endblock %}
    </div>

    {% block js %}
      <script src="{% static 'contrib/jquery/jquery-min.js' %}"></script>
      <script src="{% static 'contrib/backbone/underscore-min.js' %}"></script>
      <script src="{% static 'contrib/backbone/backbone-min.js' %}"></script>
      <script src="{% static 'contrib/tether/js/tether.min.js' %}"></script>
      <script src="{% static 'contrib/bootstrap/bootstrap-min.js' %}"></script>
    {% endblock js %}

  </body>
</html>
