alabaster==0.7.12
apipkg==1.5
appdirs==1.4.4
attrs==20.2.0
babel==2.8.0
brotli==1.0.9
certifi==2020.6.20
chardet==3.0.4
coverage==5.3
coveralls==2.1.2
dateparser==0.7.6
distlib==0.3.1
django-cors-headers==3.5.0
django-crispy-forms==1.9.2
django-extensions==3.0.9
django-filter==2.4.0
django==2.2.16
djangoql==0.14.0
djangorestframework==3.12.1
docopt==0.6.2
docutils==0.16
execnet==1.7.1
factory-boy==3.1.0
faker==4.14.0
filelock==3.0.12
filemagic==1.6
fuzzywuzzy==0.15.0
gunicorn==20.0.4
idna==2.10
imagesize==1.2.0
importlib-metadata==2.0.0; python_version < '3.8'
iniconfig==1.1.1
inotify-simple==1.3.5
jinja2==2.11.2
langdetect==1.0.8
markupsafe==1.1.1
packaging==20.4
pdftotext==2.1.5
pillow==8.0.0
pluggy==0.13.1
ply==3.11
psycopg2==2.8.6
py==1.9.0
pycodestyle==2.6.0
pygments==2.7.1
pyocr==0.7.2
pyparsing==2.4.7
pytest-cov==2.10.1
pytest-django==4.0.0
pytest-env==0.6.2
pytest-forked==1.3.0
pytest-sugar==0.9.4
pytest-xdist==2.1.0
pytest==6.1.1
python-dateutil==2.8.1
python-dotenv==0.14.0
python-gnupg==0.4.6
python-levenshtein==0.12.0
pytz==2020.1
regex==2020.10.15
requests==2.24.0
six==1.15.0
snowballstemmer==2.0.0
sphinx==3.2.1
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
sqlparse==0.4.1
termcolor==1.1.0
text-unidecode==1.3
toml==0.10.1
tox==3.20.1
tzlocal==2.1
urllib3==1.25.10
virtualenv==20.0.35
whitenoise==5.2.0
zipp==3.3.1
