alabaster==0.7.12
apipkg==1.5
appdirs==1.4.4
attrs==19.3.0
Babel==2.8.0
Brotli==1.0.7
certifi==2020.6.20
cffi==1.14.0
chardet==3.0.4
coloredlogs==14.0
coverage==5.2
coveralls==2.1.1
dateparser==0.7.6
distlib==0.3.1
Django==2.2.14
django-admin-list-filter-dropdown==1.0.3
django-cors-headers==3.4.0
django-crispy-forms==1.9.2
django-extensions==3.0.3
django-filter==2.3.0
django-mysql==3.8.1
djangoql==0.14.0
djangorestframework==3.11.0
docopt==0.6.2
docutils==0.16
execnet==1.7.1
factory-boy==2.12.0
Faker==4.1.1
filelock==3.0.12
filemagic==1.6
fuzzywuzzy==0.15.0
gunicorn==20.0.4
humanfriendly==8.2
idna==2.10
imagesize==1.2.0
img2pdf==0.3.6
importlib-metadata==1.7.0
inotify-simple==1.3.3
Jinja2==2.11.2
langdetect==1.0.8
lxml==4.5.2
MarkupSafe==1.1.1
more-itertools==8.4.0
ocrmypdf==10.2.0
packaging==20.4
pdfminer.six==20200517
pdftotext==2.1.4
pikepdf==1.16.1
Pillow==7.2.0
pluggy==0.13.1
ply==3.11
psycopg2==2.8.5
py==1.9.0
pycodestyle==2.6.0
pycparser==2.20
pycryptodome==3.9.8
Pygments==2.6.1
pyocr==0.7.2
pyparsing==2.4.7
pytest==5.4.3
pytest-cov==2.10.0
pytest-django==3.9.0
pytest-env==0.6.2
pytest-forked==1.2.0
pytest-sugar==0.9.4
pytest-xdist==1.33.0
python-dateutil==2.8.1
python-dotenv==0.14.0
python-gnupg==0.4.6
python-Levenshtein==0.12.0
pytz==2020.1
regex==2020.7.14
reportlab==3.5.44
requests==2.24.0
six==1.15.0
snowballstemmer==2.0.0
sortedcontainers==2.2.2
Sphinx==3.1.2
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
sqlparse==0.3.1
termcolor==1.1.0
text-unidecode==1.3
toml==0.10.1
tox==3.17.1
tqdm==4.48.0
tzlocal==2.1
urllib3==1.25.9
virtualenv==20.0.27
wcwidth==0.2.5
whitenoise==5.1.0
zipp==3.1.0
