{% extends 'paperless/base.html' %}


{% block container %}
  {% if form.errors and form.non_field_errors %}
    <div class="row">
      <div class="alert alert-danger text-center" role="alert">{{ form.non_field_errors }}</div>
    </div>
  {% endif %}
  <br />
  <div class="row col-md-6 col-md-offset-3">
    <h1 class="display-1"><i class="fa fa-paperclip"></i> Paperless</h1>
    <form method="post">

      <fieldset class="form-group">
        {{ form.username.errors }}
        {{ form.username.label_tag }}
        {{ form.username }}
      </fieldset>

      <fieldset class="form-group">
        {{ form.password.errors }}
        {{ form.password.label_tag }}
        {{ form.password }}
      </fieldset>

      {% csrf_token %}

      <div class="text-right">
        <button type="submit" class="btn btn-primary">Login</button>
      </div>

    </form>
  </div>
{% endblock container %}
